
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.hide{
    opacity: 0;
    visibility: hidden;
}

.aumentar{
    height: 340px; /*Classe para aumentar o tamanho da areagame quando apertar no botao*/
}

.diminuir{
    height: 270px; /*Classe para diminuir a tamanho da areagame quando apertar o botao*/
}

.tamanhoNormal{
    height: 35%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ef4f4f;
} 

header{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}

header > h1{
    font-family: "Love Ya Like A Sister", sans-serif;
    font-size: 2.5em;
    text-align: center;
}

#spaceTeamo{
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: relative;
}

.teAmo{
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
    margin-top: 10px;
}

h1 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 1.5em;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main, section{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    width: 50%;
    border-radius: 10px;
    margin-top: 20px;
}

#coracaoH1{
    height: 50px;
    width: 50px;
}

#campoImagens{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 9999px;
    cursor: pointer;
    transition: .3s;
}

.img:hover{
    transform: scale(1.1);
}

#img1{
    background-image: url('../imagens/WhatsApp\ Image\ 2025-03-16\ at\ 11.42.03.jpeg');
    background-size: cover;
}

#img2{
    background-image: url('../imagens/WhatsApp\ Image\ 2025-03-16\ at\ 11.42.03\ \(1\).jpeg');
    background-size: cover; 
    background-position: center center;
}

#img3{
    background-image: url('../imagens/WhatsApp\ Image\ 2025-03-16\ at\ 11.42.04.jpeg');
    background-size: cover;
    background-position: center -40px;
}

#buttonDoContador{
    margin-top: 30px;
    background-color: rgb(241, 56, 56);
    border: none;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

#buttonDoContador:hover{
    background-color: rgb(194, 47, 47);
}

#cartaoDeMensagem{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.496);
}

section{
    font-family: "Love Ya Like A Sister", sans-serif;
    width: 70%;
    position: relative;
}

section > h1{
    margin-right: 10px;
}

#coracaoNaMensagem{
    height: 50px;
    width: 50px;
}

#mensagemCarinhosa{
    line-height: 25px;
    text-align: justify;
}

#buttonClose{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    height: 50px;
    width: 50px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s;
}

#buttonClose:hover{
    transform: scale(1.1);
}

#lista{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

#topicos{
    margin-bottom: 50px;
}

#divButtonCardLateralEntrar{
    position: fixed;
    top: 50%;
    right: 20px;
}

#divButtonCardLateralSair{
    position: fixed;
    top: 50%;
    left: 20px;
}

.buttonDoCardLateral{
    border-radius: 9999px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.buttonDoCardLateral:hover{
    transform: scale(1.1);
    background-color: rgb(216, 216, 216);
}

.seta{
    height: 90px;
    width: 90px;
}

article{
    background-color: rgb(156, 156, 156);
    border: 2px solid black;
    position: fixed;
    top: 5%;
    right: 0;
    height: 90vh;
    width: 90vw;
    transition: .3s;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

article > p{
    margin-bottom: 20px;
}

#gameArea{
    background-color: white;
    margin: auto;
    padding: 40px;
    min-height: 35%;
    border-radius: 10px;
    position: relative;
}

#gameArea > p {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameArea > div > p > img{
    width: 50px;
    height: 50px;
}

#areaDeInteracao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-top: 20px;
    position: absolute;
}

#numberClient{
    height: 50px;
    width: 80px;
    border: none;
    background-color: rgb(209, 209, 209);
    padding: 20px;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#acerto{
    position: absolute;
    top: 60%;
    left: 20%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#errorMessage{
    margin-top: 15%;
    position: absolute;
    text-align: center;
    width: 85%;
}

#errorMessage > img{
    height: 50px;
    width: 50px;
}

#buttonDoJoguinho{
    height: 50px;
    width: 65px;
    cursor: pointer;
    background-color: #e64f4f;
    border: none;
    color: white;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
}

#buttonDoJoguinho:hover{
    background-color: #b44242;
}

#mensagemDeAcerto{
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonDaSurpresa{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #e64f4f;
    color: white;
    transition: .3s;
}

#buttonDaSurpresa:hover{
    background-color: #b44242;
}

/*configuraçoes do video surpresa*/

#areaDoVideoSurpresa{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.958);
    transition: 0.3s;
}

#sairDaTelaDoVD{
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 20px;
    width: 130px;
    background-color: red;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#sairDaTelaDoVD:hover{
    background-color: rgb(243, 56, 56);
    transform: scale(1.1);
}